.select-quiz{
    @include flexbox(center, flex-start);
    flex-direction: column;
    gap: 32px;

    .browse-by-subject{
        @include flexbox(flex-start, flex-start);

        .nav{
            list-style: none;
            @include flexbox(center, flex-start);
            gap: 40px;
            padding-left: 0;
            border-bottom: 1px solid $disabled;

            .nav-item{
                padding-bottom: 20px;

                .nav-link{
                    text-decoration: none;
                    color: $disabled;
                    padding-bottom: 17px;
                    transition: color .2s ease;

                    &:hover{
                        color: $light;
                        border-bottom: 5px solid $primary;
                    }

                    &:active{
                        color: $active;
                    }
                }

                .active{
                    color: $light;
                    border-bottom: 5px solid $primary;
                }
            }
        }

        // .panel{
        // }
    }
}

.preview-subject{
    @include flexbox(flex-start, flex-start);
    flex-direction: column;
    gap: 40px;

    .selected-subject{
        @include flexbox(flex-start, flex-start);
        gap: 24px;

        .actions{
            @include flexbox(center, center);
            flex-direction: column;
            gap: 16px;
        }
    }

    .divider{
        border: 1px solid $secondary;
        @extend .w-100;
    }
}