.select-quiz{
    @include flexbox(center, flex-start);
    flex-direction: column;
    gap: 32px;

    .browse-by-subject{
        @include flexbox(flex-start, flex-start);

        .nav{
            list-style: none;
            @include flexbox(center, flex-start);
            // gap: 40px;
            padding-left: 0;
            border-bottom: 1px solid $disabled;

            .nav-item{
                text-align: center;
                padding-bottom: 20px;

                .nav-link{
                    padding-left: 24px;
                    padding-right: 24px;
                    text-decoration: none;
                    color: $disabled;
                    padding-bottom: 17px;
                    transition: color .2s ease;

                    &:hover{
                        color: $light;
                        border-bottom: 5px solid $primary;
                    }

                    &:active{
                        color: $active;
                    }
                }

                .active{
                    color: $light;
                    border-bottom: 5px solid $primary;
                }
            }
        }

        // .panel{
        // }
    }
}

.preview-subject{
    @include flexbox(flex-start, flex-start);
    flex-direction: column;
    gap: 40px;

    .selected-subject{
        @include flexbox(flex-start, flex-start);
        gap: 24px;

        .actions{
            // @include flexbox(center, center);
            // flex-direction: column;
            // gap: 16px;

            .feather{
                width: 20px;
                height: 20px;
            }
        }
    }

    .divider{
        border: 1px solid $secondary;
        @extend .w-100;
    }
}

.questions{
    height: 80vh;
    @include flexbox(center, center);
    flex-direction: column;
    gap: 56px;

    .text-center{
        width: 70%;

        h1.q{
            font-weight: 700;
            color: $white;
            line-height: 50px;
        }
    }

    .choices{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
        width: 100%;

        .answer-card{
            padding: 20px;
            border-radius: $card-radius;
            color: $light;
            border: none;
            outline: none;
            @include flexbox(center, center);
            flex-direction: column;
            cursor: pointer;
            transition: all .2s ease;

            .answer-letter{
                height: 44px;
                width: 44px;
                border-radius: $circle-radius;
                box-shadow: $shadow__low;
                @include flexbox(center, center);
                border: 2px solid $light;
            }

            .answer-desc{
                // text-align: left;

                p{
                    line-height: 24px;
                    font-size: 18px;
                }
            }

            &:hover{
                box-shadow: $shadow;
                opacity: .8;
                position: relative;
                bottom: 2px;
            }

            &:active{
                box-shadow: $shadow__focus;
                opacity: 1;
            }
        }

        .card-a{
            background-color: $primary;
        }
        .card-b{
            background-color: $info;
        }
        .card-c{
            background-color: $teal;
        }
        .card-d{
            background-color: $complementary;
        }
    }
}