.modal, 
.screen-loader,
.scoreboard{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    @include flexbox(center, center);
    display: none;

    .modal-wrapper{
        background-color: $secondary;
        padding: 32px;
        box-shadow: $shadow;
        border-radius: $card-radius;
        @include flexbox(center, flex-start);
        flex-direction: column;
        gap: 16px;
        position: relative;

        .btn-close{
            background-color: transparent;
            color: $disabled;
            box-shadow: none;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 15%;

            .feather{
                width: 18px;
                height: 18px;
            }

            &:active{
                color: $active;
            }
        }

        h2{
            margin: 0;
            margin-bottom: 16px;
        }

        .join-wrapper{
            @include flexbox(center, center);
            gap: 8px;
        }

        .invalid-feedback{
            display: none;
            background-color: $error;
            color: $light;
            border-radius: $radius;
            padding: 8px 20px;
            text-align: center;
            font-weight: 600;
        }
    }
}

.screen-loader{
    background-color: rgba(0,0,0,0.8);

    .loader-content{
        width: 100%;
        height: 100vh;
        position: relative;

        img{
            animation-name: bounce;
            animation-duration: .6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }
    }
}

.scoreboard-content{
    width: 100%;
    height: 100vh;
    @include flexbox(center, center);

    .board{
        background-color: $secondary;
        width: 35%;
        padding: 32px;
        box-shadow: $shadow;
        border-radius: $card-radius;
        @include flexbox(center, center);
        flex-direction: column;

        .flex-center{
            gap: 16px;
        }
    }
}

@keyframes bounce {
    from{
        filter: drop-shadow(1px 15px 20px rgba(0,0,0,0.9));
        transform: translateY(5%);
    }

    to{
        transform: translateY(25%);
        filter: drop-shadow(1px 15px 10px rgba(0,0,0,9));
    }
}