.btn{
    box-shadow: $shadow;
    border-radius: $radius;
    outline: none;
    border: none;
    font-weight: 700;
    width: 100%;
    text-align: center;
    // height: 56px;
    padding: 16px 24px;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease;

    &:hover{
        opacity: .8;
    }

    &:active{
        box-shadow: $shadow__focus;
        position: relative;
        top: 2px;
        opacity: 1;
        background-color: $active;
        color: $disabled;
    }
}

.btn-sm{
    padding: 12px;
}

.btn-primary{
    background-color: $primary;
    color: $dark;

    
}

.btn-accent{
    background-color: $accent;
    color: $dark;
}

.w-100{
    width: 100%;
}

.text-right{
    text-align: right;
}

.text-light{
    color: $light;
}

.text-center{
    text-align: center;
}

.leading-text{
    font-size: 56px;
    margin: 0;
}

.d-none{
    display: none;
}

.flex-center{
    @include flexbox(center, center);
}

.margin-l-2{
    margin-left: 8px;
}

.margin-r-2{
    margin-right: 8px;
}

.margin-b-0{
    margin-bottom: 0;
}

.margin-t-2{
    margin-top: 8px;
}

// * Card Group
.card-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.card{
    background-color: $secondary;
    color: $light;
    padding: 20px;
    border-radius: $card-radius;
    box-shadow: $shadow;
    @include flexbox(center, flex-start);
    gap: 24px;
    cursor: pointer;
    transition: all .2s ease;
    border: none;
    outline: none;
    text-decoration: none;

    .card-img{
        img{
            border-radius: $radius;
        }
    }

    .card-body{
        text-align: left;
        @include flexbox(flex-start, center);
        flex-direction: column;

        h3{
            font-weight: 500;
        }

        .badge{
            background-color: $active;
            @include flexbox(center, center);
            gap: 8px;
            padding: 8px 12px;
            border-radius: 50px;
        }
    }

    &:hover{
        opacity: .9;
    }
}

button.card{
    &:active{
        box-shadow: $shadow__focus;
        position: relative;
        top: 2px;
    }
}
// * ends here

.text-muted{
    color: $disabled;
    font-weight: 600;
}